<ion-header>
  <ion-toolbar>
    <ion-title>
      GeoLocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h4>Location</h4>
    <ion-row >
      <ion-col size="6">
    <p>Latitude: {{lat}} </p>
    </ion-col>
    <ion-col size="6">
    <p>Longitude: {{lng}}</p>
    </ion-col>
    </ion-row>
    <div #map id='map'></div>
    <ion-button (click)="whereIam()">Where i am?</ion-button>
    <ion-button (click)="shareIt()">Share location</ion-button>
  </div>
</ion-content>
