<ion-header>
  <ion-toolbar>
    <ion-title>
      GeoLocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h4>Location</h4>
    <ion-list>
      <ion-card *ngFor="let location of locationTraces">
        
          <ion-label>Time: {{location.timestamp | date:'M/d/yy, h:mm a'}}</ion-label>
          <ion-row>
          <ion-label>Latitude: {{location.latitude}}</ion-label>
          </ion-row>
          <ion-row>
        <ion-label>Longitude: {{location.longitude}}</ion-label>
        </ion-row>
        
      </ion-card>
    </ion-list>
      <div #map id='map'></div>
      <ion-button (click)="whereIam()">Where I am?</ion-button>
      <ion-button (click)="shareIt()">Share location</ion-button>
  </div>
</ion-content>
